@import "tailwindcss";

@theme {
  --color-Secondary-Theme : rgb(133, 169, 71);
  --color-Primary-Theme : rgb(62 123 39);
  --color-Dark-Theme : rgb(18 53 36);
  --color-Light-Theme : rgb(239 227 194);

    /* ... */
}
